html,
body,
#__next {
  height: 100%;
  min-width: 320px;
  margin: 0;
}
.g-root_theme_light-hc,
.g-root_theme_dark-hc {
  --g-color-base-brand: #e47979 !important;
  --g-color-base-brand-hover: #e06666 !important;
  --g-color-base-selection: #731e1e !important;
  --g-color-base-selection-hover: #8f1616 !important;
  --g-color-line-brand: #e47979 !important;
  --g-color-text-brand: #eb9c9c !important;
  --g-color-text-link: #eb9c9c !important;
  --g-color-text-link-hover: #f2bebe !important;
  --g-color-text-brand-heavy: white !important;
}
