html,
body,
#__next {
  height: 100%;
  min-width: 320px;
  margin: 0;
}
.g-root_theme_light-hc,
.g-root_theme_dark-hc {
  --g-color-base-brand: #e47979;
  --g-color-base-brand-hover: #e06666;
  --g-color-base-selection: #731e1e;
  --g-color-base-selection-hover: #8f1616;
  --g-color-line-brand: #e47979;
  --g-color-text-brand: #eb9c9c;
  --g-color-text-link: #eb9c9c;
  --g-color-text-link-hover: #f2bebe;
  --g-color-text-brand-heavy: white;
}
